{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site de communication</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
</head>
<body>
    <h1>Mon application de communication</h1>
    <p>Bonjour {{ user }}</p>
        <p>Il est {% now "j F Y" %} et il est {% now "H:i" %}</p>
        <p>il est {{ date |date:"l d " | capfirst }} {{ date |date:" F Y" | capfirst }} et il est {{ date |date:"H:i"}}</p>
        <p>Veuillez vous connecter</p>

        {% include 'message/login.html' %}
</body>
</html>